.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 5rem;
}

.upload-cover {
  height: 20rem;
  width: 20rem;
  /* background-color: red; */
  display: block;
  /* margin: auto; */
  border: 2px solid white;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: linear-gradient(to bottom right, #525564, #2d3039);
}
.uploadheadding {
  text-align: center;
}

.title {
  background: linear-gradient(to bottom right, #68cad8, #26a3a3);
  color: white;
  height: 40px;
  width: 18rem;
  text-align: center;
  border-radius: 50px;
  border: none;
  /* font-weight: bold; */
}
.title::placeholder {
  color: white;
}

.sumbit {
  width: 15rem;
  border-radius: 50px;
  /* background-color: #37BDBF; */
  background: linear-gradient(to bottom right, #68cad8, #26a3a3);
  color: white;
  /* font-weight: bold; */
}
.sumbit:hover {
  background-color: #2d989a;
}
